@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~@/assets/styleSheets/custom/variables';

.carousel-title {
  transform: translateY(100px);
  opacity: 0;
  &.active {
    animation: carousel-title-ani 0.5s 0.5s forwards;
  }
}
@keyframes carousel-title-ani {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.cake-img {
  width: 400px;
}
@include media-breakpoint-down(md) {
  .cake-img {
    width: 200px;
  }
}
.products-page-link {
  font-size: $h3-font-size;
  color: $white;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -105%;
    left: 0;
    width: 100%;
    border-radius: $border-radius;
    height: 100%;
    background: $info;
    transition: 0.2s ease-in-out;
  }
  &:hover {
    color: shade-color($white, 10%);
    &::before {
      top: 0;
    }
  }
}
@include media-breakpoint-down(sm) {
  .products-page-link {
    font-size: $h5-font-size;
  }
}
