@import '~bootstrap/scss/functions';
@import '~@/assets/styleSheets/custom/variables';

.progress {
  height: 3px;
}
.category-title {
  &.active {
    > h3 {
      animation: title-ani 0.5s forwards;
    }
  }
}
@keyframes title-ani {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.nav-bg {
  height: 300px;
  background: url(~@/assets/images/bg-banner.jpg) center no-repeat;
  background-size: cover;
}
.products-nav-panel {
  transform: translateY(-50px);
  margin-bottom: -30px;
  > ul {
    > li {
      width: 16.667%;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: tint-color($danger, 30%);
      }
      &.active {
        color: $danger;
        font-weight: $font-weight-bold;
      }
    }
  }
}
.product-item {
  animation: product-ani 0.3s;
  .product-img {
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      transition: 0.3s;
      position: absolute;
    }
  }
  .more-info-text {
    font-size: $h4-font-size;
    opacity: 0;
    transform: scale(2);
  }
  &:hover {
    .product-img {
      &::before {
        background: rgba(0, 0, 0, 0.3);
      }
    }
    .more-info-text {
      opacity: 1;
      transform: scale(1);
    }
    .product-content {
      color: $danger;
    }
  }
}
@keyframes product-ani {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
