@import '~@/assets/styleSheets/custom/variables';

.nav-bg {
  height: 300px;
  background: url(~@/assets/images/bg-banner.jpg) center no-repeat;
  background-size: cover;
}

.teleport-container-top {
  height: 81px;
}

.skewX {
  transition: transform 0.3s;
  transform: skewX(-30deg) translateY(-100%);
}

.products-panel-container {
  margin-left: auto;
}

.products-panel {
  transition: 1s ease-out;
  &.active {
    .product-item {
      animation: product-scale 0.3s forwards;
    }
  }
}
@keyframes product-scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.product-item {
  .product-img {
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      transition: 0.3s;
      position: absolute;
    }
  }
  .more-info-text {
    font-size: $h4-font-size;
    opacity: 0;
    transform: scale(2);
  }
  &:hover {
    .product-img {
      &::before {
        background: rgba(0, 0, 0, 0.3);
      }
    }
    .more-info-text {
      opacity: 1;
      transform: scale(1);
    }
    .product-content {
      color: $danger;
    }
  }
}
