// stylelint-disable indentation

// Utilities

$utilities: () !default;
$utilities: map-merge(
  $utilities,
  (
    'font-family': (
      property: font-family,
      class: font,
      values: (
        sans: $font-family-sans-serif,
        Tamma: $font-family-Tamma-cursive
      )
    ),
    'letter-spacing': (
      responsive: true,
      property: letter-spacing,
      class: tracking,
      values: (
        0: 0,
        1: 0.0625rem,
        2: 0.125rem,
        3: 0.187rem
      )
    ),
    'z-index': (
      responsive: true,
      property: z-index,
      class: z,
      values: (
        0: 0,
        10: 10,
        20: 20,
        30: 30,
        40: 40,
        50: 50,
        999: 999
      )
    ),
    'opacity': (
      responsive: true,
      property: opacity,
      values: (
        0: 0,
        25: 0.25,
        50: 0.5,
        75: 0.75,
        100: 1
      )
    ),
    'transition-duration': (
      responsive: true,
      property: transition-duration,
      class: duration,
      values: (
        100: 100ms,
        200: 200ms,
        300: 300ms,
        500: 500ms,
        600: 600ms,
        1000: 1s
      )
    ),
    'top': (
      property: top,
      values: $position-values
    ),
    'bottom': (
      property: bottom,
      values: $position-values
    ),
    'start': (
      property: left,
      class: start,
      values: $position-values
    ),
    'end': (
      property: right,
      class: end,
      values: $position-values
    ),
    'top-n': (
      property: top,
      values: $negative-spacers
    ),
    'bottom-n': (
      property: bottom,
      values: $negative-spacers
    ),
    'start-n': (
      property: left,
      class: start,
      values: $negative-spacers
    ),
    'end-n': (
      property: right,
      class: end,
      values: $negative-spacers
    ),
    'line-height': (
      property: line-height,
      class: lh,
      values: (
        1: 1,
        sm: $line-height-sm,
        base: $line-height-base,
        lg: $line-height-lg
      )
    ),
    'shadow': (
      property: box-shadow,
      class: shadow,
      values: (
        null: $box-shadow,
        sm: $box-shadow-sm,
        lg: $box-shadow-lg,
        inset: $box-shadow-inset,
        none: none
      )
    ),
    'width': (
      responsive: true,
      property: width,
      class: w,
      values: (
        0: 0%,
        25: 25%,
        33: 33%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    'wrap': (
      property: white-space,
      class: text,
      values: (
        wrap: pre-wrap
      )
    )
  )
);
