// Color
//
// color-variables

// custom-start
$primary: #aa1b1b;
$secondary: #a3a3a3;
$danger: #c63232;
$white: #fff;
$white-100: rgb(255, 254, 250);
$black: #1c1c1c;
$black-100: #1f2021;
$black-200: #333;
$black-300: #798079;
$black-400: rgb(100, 100, 100);
$gray-300: #dfdfdf;
// custom-end

// Settings for the `<body>` element.
$body-bg: $white-100 !default;
$body-color: $black !default;
$letter-spacing: 0.0625rem;

// scss-docs-start color-variables
$gray-100: #f8f9fa !default;
$gray-900: #212529 !default;
$green: #198754 !default;
$cyan: #0b1727 !default;
$yellow: #ffc107 !default;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
// scss-docs-end theme-color-variables

// theme-colors-map
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'white': $white,
  'white-100': $white-100,
  'black': $black,
  'black-100': $black-100,
  'black-200': $black-200,
  'black-300': $black-300,
  'black-400': $black-400,
  'gray-300': $gray-300
) !default;

// Spacing
//
// spacer-variables-maps
$spacer: 1rem;
$spacers: (
  1px: 1px,
  2px: 2px,
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.25,
  10: $spacer * 2.5,
  11: $spacer * 2.75,
  12: $spacer * 3,
  14: $spacer * 3.5,
  16: $spacer * 4,
  20: $spacer * 5,
  24: $spacer * 6,
  25: $spacer * 6.25,
  38: $spacer * 9.5,
  50: $spacer * 12.5
) !default;

// Position
//
// Define the edge positioning anchors of the position utilities.

// scss-docs-start position-map
$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.25,
  10: $spacer * 2.5,
  11: $spacer * 2.75,
  12: $spacer * 3,
  14: $spacer * 3.5,
  16: $spacer * 4,
  20: $spacer * 5,
  24: $spacer * 6,
  25: $spacer * 6.25
) !default;
// scss-docs-end position-map

// negative-position
$negative-spacers: negativify-map($spacers) !default;

// Font
//
// font-variables
$font-family-sans-serif: 'Noto Sans TC', sans-serif;
$font-family-Tamma-cursive: 'Baloo Tamma 2', 'Noto Sans TC', cursive;

$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$h7-font-size: $font-size-base * 0.875;
$h8-font-size: $font-size-base * 0.75;

// font-sizes-map
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
  8: $h8-font-size
);

// font-weight
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

// line-height
$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

// Carousel
//
// carousel-variables
$carousel-transition-duration: 3s;

// Navbar
//
// navbar-variables
$navbar-light-color: $white;
$navbar-light-hover-color: rgba($white, 0.7);
$navbar-light-active-color: rgba($white, 0.9);
$navbar-light-disabled-color: rgba($white, 0.3);

// Shadow
//
// shadow-variables
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);
$box-shadow-lg-inset: inset 0 0.5rem 5rem rgba($black, 0.5);
$box-shadow-inset: inset 1px 1px 3px rgba($black, 0.075);

// Border-Radius
//
// border-radius-variables
$border-radius: 0.25rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.3rem;
$border-radius-pill: 50rem;

// Grid-Breakpoints
//
// grid-breakpoints-variables
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
